/* Relogio.css */
*{
  color: #fff;

}

.relogio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 6rem;
  gap: 10rem;
}

.relogio .info{
  display: flex;
  flex-direction: column;
}

.section-relogio {
    background-color: #0C0F30;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    padding: 20rem 0rem 20rem 0rem;
    right: 0;
    position: relative; /* Para que o elemento filho (.title) com position: absolute seja relativo a essa div */
  }
  
  .section-relogio .title {
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    left: 10px; /* Próximo à borda esquerda */
    transform: translateY(-50%); /* Ajuste para centralizar corretamente */
    writing-mode: vertical-rl; /* Modo de escrita vertical, da direita para a esquerda */
    transform: rotate(180deg); /* Inverte o texto para ficar de baixo para cima */

}
.section-relogio .title h2 {
    margin: 0;
    padding: 10px;
    background: transparent; /* Sem fundo */
    color: #fff; /* Texto branco */
    font-size: 24px; /* Ajuste o tamanho da fonte conforme necessário */
  }

  .escrito p {
    font-size: 3em;                              /* Tamanho da fonte */
    color: transparent;                           /* Texto transparente */
    -webkit-text-stroke: 2px #fff;              /* Contorno em branco */
    background-color: transparent;                /* Fundo transparente */
}

.rhid img{
  width: 100%;
  border-radius: 20px;
}

