.redesContainer .network {
  background-image: linear-gradient(to top, #0c0f30, rgba(12, 15, 48, 0) 50%),
    /* Gradiente superior */
      linear-gradient(to bottom, #0c0f30, rgba(12, 15, 48, 0) 50%),
    /* Gradiente inferior */
      linear-gradient(to left, #0c0f30, rgba(12, 15, 48, 0) 50%),
    /* Gradiente esquerdo */
      linear-gradient(to right, #0c0f30, rgba(12, 15, 48, 0) 50%),
    /* Gradiente direito */ url("../../assets/backgroundserver.jpg"); /* Imagem de fundo */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}



.redesContainer h1,
.redesContainer h2 {
  position: relative;
  color: white;
  z-index: 2;
  text-align: center;
  margin: 0;
}
