.comments{
    background-color: #0c0f30;
    padding: 7rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative; /* Para que o elemento filho (.title) com position: absolute seja relativo a essa div */
    background-image: url("../../assets/background.png");
    background-repeat: repeat; /* Repete a imagem infinitamente */

}