.head {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0 10%;
}

h1 {
  text-align: center;
  font-size: 50pt;
  background: linear-gradient(
    to right,
    rgb(42, 128, 185),
    rgb(42, 128, 185),
    rgb(236, 81, 9)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3rem;
}
