.redesContainer {
  background: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.redesContainer h2 {
  color: black;
  font-size: 30pt;
}
