.app {
  width: 100%;
  margin: auto;
}

.app .main {
  background-color: #0c0f30;
  width: 100%;
  height: auto;
  position: relative; /* Para que o elemento filho (.title) com position: absolute seja relativo a essa div */
  background-image: url("./assets/grid.png");
  background-repeat: repeat; /* Repete a imagem infinitamente */
  background-size: 15px;
  display: flex;
  gap: 15vw;
  flex-direction: column;
  padding: 10rem 8%;
}
