::-webkit-scrollbar {
  width: 15px; /* Define a largura da barra de rolagem vertical */
  height: 15px; /* Define a altura da barra de rolagem horizontal */
}

/* Cor do fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: #98b2c7; /* Cinza claro */
}

/* Cor e estilo do indicador de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #007bff; /* Azul */
  border: 0px solid #f0f0f0; /* Espaço ao redor do indicador */
}

/* Cor do indicador quando o cursor passa por cima */
::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3; /* Azul mais escuro */
}
